.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 100px;
    text-align: center;
    

}
h1{
    color: #ff004f;
}
button{
    width: 180px;
    height: 70px;
    background: #ff004f;
    border-radius: 15px;
    color: #fff;
    font-size: large;
    font-weight: 900;
    text-shadow: 2px 2px 10px #111;
    box-shadow: 2px 2px 10px #fff;
    
}

button:hover{
  color: #ff004f;
  background-color: #111;
  transition: 0.3s;
  scale: 1.2;
}

.info{
    font-size: 20px;
    font-weight: 600;
    color: #999;
    text-shadow: 2px 2px 5px #111;

}

span{
  color: #ff004f;
    
}